In [1]:
import numpy as np
import pandas as pd

In [6]:
dict_={"a":[1,2,3,4],
       "b":[2,3,4,5],
       "c":np.arange(3,7),
      }
df=pd.DataFrame(dict_)
df

   a  b  c
0  1  2  3
1  2  3  4
2  3  4  5
3  4  5  6

In [9]:
dict_={"a":np.arange(1,5),
       "c":np.arange(3,7)
      }
df=pd.DataFrame(dict_)
df

   a  c
0  1  3
1  2  4
2  3  5
3  4  6

In [30]:
dict_={"a":np.arange(1,5),
       "c":np.arange(3,7)
      }
df=pd.DataFrame(dict_,index=["a","b","c","d"])
df

   a  c
a  1  3
b  2  4
c  3  5
d  4  6

In [21]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [23]:
df.columns

Index(['a', 'c'], dtype='object')

In [24]:
df.values

array([[1, 3],
       [2, 4],
       [3, 5],
       [4, 6]])

In [32]:
df.index=[0,1,2,3]
df.columns=["a","b"]
df

   a  b
0  1  3
1  2  4
2  3  5
3  4  6

In [14]:
dict_={"a":pd.Series(np.arange(1,5),index=["a","b","c","d"]),
       "c":pd.Series(np.arange(2,6),index=["a","b","c","d"])
      }
df=pd.DataFrame(dict_)
df

   a  c
a  1  2
b  2  3
c  3  4
d  4  5

In [41]:
dict_={
    "sex":{1:"男",2:"男"},
    "scores":{1:10,2:59}
}
df=pd.DataFrame(dict_)
df.index=["张三","李四"]
df

   sex  scores
张三   男      10
李四   男      59

In [47]:
list_=[pd.Series(np.arange(1,4)),pd.Series(np.arange(2,5))]
print(list_)
df=pd.DataFrame(list_)
df

[0    1
1    2
2    3
dtype: int32, 0    2
1    3
2    4
dtype: int32]

   0  1  2
0  1  2  3
1  2  3  4

In [51]:
list_=[{"sex":"男","scores":42},{"sex":"女","scores":70}]
df=pd.DataFrame(list_,index=["张三","李四"])
df

   sex  scores
张三   男      42
李四   女      70

In [67]:
df=pd.DataFrame(np.arange(1,11).reshape(2,5),index=["A","B"],columns=["a","b","c","d","e"])
df

   a  b  c  d   e
A  1  2  3  4   5
B  6  7  8  9  10

In [72]:
df.T

   A   B
a  1   6
b  2   7
c  3   8
d  4   9
e  5  10

In [73]:
df["a"]

A    1
B    6
Name: a, dtype: int32

In [78]:
del df["b"]

KeyError: 'b'

In [79]:
df

   a  c  d   e
A  1  3  4   5
B  6  8  9  10

In [84]:
a=df["c"]
print(type(a))
list(a)

<class 'pandas.core.series.Series'>

[3, 8]