In [1]:
import numpy as np
import pandas as pd

In [4]:
s1=pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
s2=pd.Series(np.arange(1,6))
s2

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [14]:
s2=pd.Series(np.arange(1,6),index=["a","b","c","d","e"],dtype="int8")
s2

a    1
b    2
c    3
d    4
e    5
dtype: int8

In [10]:
s2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [12]:
s2.values

array([1, 2, 3, 4, 5], dtype=int8)

In [15]:
s2.isnull()

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [16]:
dict_={"name":"张三","age":18,"身高":180}
s3=pd.Series(dict_,index=["name","age","身高","weight"])
s3

name       张三
age        18
身高        180
weight    NaN
dtype: object

In [17]:
s3.isnull()

name      False
age       False
身高        False
weight     True
dtype: bool

In [19]:
s3[0]

'张三'

In [20]:
s3[0:3]

name     张三
age      18
身高      180
dtype: object

In [21]:
s3["name":"age"]

name    张三
age     18
dtype: object

In [22]:
s3[[0,3]]

name       张三
weight    NaN
dtype: object

In [23]:
s3[["age","weight"]]

age        18
weight    NaN
dtype: object

In [25]:
print(s2)
s2[s2>1]

a    1
b    2
c    3
d    4
e    5
dtype: int8

b    2
c    3
d    4
e    5
dtype: int8

In [26]:
s2+2

a    3
b    4
c    5
d    6
e    7
dtype: int8

In [27]:
s2>2

a    False
b    False
c     True
d     True
e     True
dtype: bool

In [34]:
s3.name="classmates"
s3.index.name="name"
s3

name
name       张三
age        18
身高        180
weight    NaN
Name: classmates, dtype: object

In [37]:
s3.head(2)

name
name    张三
age     18
Name: classmates, dtype: object

In [38]:
s3.tail(2)

name
身高        180
weight    NaN
Name: classmates, dtype: object