In [2]:
import numpy as np
import pandas as pd

In [8]:
pd1 = pd.DataFrame(np.arange(9).reshape(3,3),index = ['a','b','c'],columns = ['A','B','C'])
pd1

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

In [11]:
s=pd1["A"]
print(s)
print(type(pd1["A"]))

a    0
b    3
c    6
Name: A, dtype: int32
<class 'pandas.core.series.Series'>

In [15]:
s.index=[0,1,2]
s.name="exp"
s.index.name="index"
s

index
0    0
1    3
2    6
Name: exp, dtype: int32

In [17]:
pd1

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

In [19]:
pd1.index

Index(['a', 'b', 'c'], dtype='object')

In [21]:
pd1.index[0]

'a'

In [22]:
pd1.index[0:3]

Index(['a', 'b', 'c'], dtype='object')

In [23]:
pd1.index[0]="a"

TypeError: Index does not support mutable operations

In [27]:
pd1.index=["a1","b1","c1"]
pd1

    A  B  C
a1  0  1  2
b1  3  4  5
c1  6  7  8

In [35]:
ps1 = pd.Series(range(5),index=['a','b','c','d','e'])
ps1.reindex(['a','b','c','d','e','f'])

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    NaN
dtype: float64

In [37]:
ps1 = pd.Series(range(5),index=['a','b','c','d','e'])
ps1.index=['a1','b1','c1','d1','e1']
ps1

a1    0
b1    1
c1    2
d1    3
e1    4
dtype: int64

In [60]:
pd1=pd1.astype(np.float64)
print(pd1)
pd2=pd1.reindex(["a","b","c","d"])
pd2

      A    B    C
a1  0.0  1.0  2.0
b1  3.0  4.0  5.0
c1  6.0  7.0  8.0

    A   B   C
a NaN NaN NaN
b NaN NaN NaN
c NaN NaN NaN
d NaN NaN NaN

In [56]:
pd1.index=["a1","b1","c1"]
pd1

      A    B    C
a1  0.0  1.0  2.0
b1  3.0  4.0  5.0
c1  6.0  7.0  8.0

In [61]:
ps1

a1    0
b1    1
c1    2
d1    3
e1    4
dtype: int64

In [63]:
ps1["g1"]=1000
ps1

a1       0
b1       1
c1       2
d1       3
e1       4
g1    1000
dtype: int64

In [67]:
ps_=pd.Series({"g":11000})
ps_

g    11000
dtype: int64

In [70]:
ps1=ps1.append(ps_)
ps1

a1        0
b1        1
c1        2
d1        3
e1        4
g1     1000
g     11000
dtype: int64

In [72]:
ps1["a1"]=1
ps1

a1        1
b1        1
c1        2
d1        3
e1        4
g1     1000
g     11000
dtype: int64

In [75]:
print(pd1)
pd1["D"]=[1,2,3]
pd1

      A    B    C  D
a1  0.0  1.0  2.0  1
b1  3.0  4.0  5.0  2
c1  6.0  7.0  8.0  3

      A    B    C  D
a1  0.0  1.0  2.0  1
b1  3.0  4.0  5.0  2
c1  6.0  7.0  8.0  3

In [82]:
pd1.insert(1,"E",[8,7,6])
pd1

      A  E    B    C  D
a1  0.0  8  1.0  2.0  1
b1  3.0  7  4.0  5.0  2
c1  6.0  6  7.0  8.0  3

In [83]:
pd1.loc["a1"]

A    0.0
E    8.0
B    1.0
C    2.0
D    1.0
Name: a1, dtype: float64

In [85]:
pd1.loc["d1"]=[90,87,54,34,23]
pd1

       A   E     B     C   D
a1   0.0   8   1.0   2.0   1
b1   3.0   7   4.0   5.0   2
c1   6.0   6   7.0   8.0   3
d1  90.0  87  54.0  34.0  23

In [87]:
row={"A":1,"B":1,"C":1,"D":1,"E":1}
pd1.append(row,ignore_index=True)

      A   E     B     C   D
0   0.0   8   1.0   2.0   1
1   3.0   7   4.0   5.0   2
2   6.0   6   7.0   8.0   3
3  90.0  87  54.0  34.0  23
4   1.0   1   1.0   1.0   1

In [88]:
row={"A":2,"B":2,"C":3,"D":3,"E":3}
pd1.append(row,ignore_index=False)

TypeError: Can only append a dict if ignore_index=True

In [91]:
print(ps1,pd1,sep="\n")

a1        1
b1        1
c1        2
d1        3
e1        4
g1     1000
g     11000
dtype: int64
       A   E     B     C   D
a1   0.0   8   1.0   2.0   1
b1   3.0   7   4.0   5.0   2
c1   6.0   6   7.0   8.0   3
d1  90.0  87  54.0  34.0  23

In [95]:
ps1=ps1.drop("a1")
ps1

b1        1
c1        2
d1        3
e1        4
g1     1000
g     11000
dtype: int64

In [97]:
ps1=ps1.drop(["b1","c1"])
ps1

d1        3
e1        4
g1     1000
g     11000
dtype: int64

In [98]:
del pd1["A"]
pd1

     E     B     C   D
a1   8   1.0   2.0   1
b1   7   4.0   5.0   2
c1   6   7.0   8.0   3
d1  87  54.0  34.0  23

In [100]:
del pd1["E"]

In [101]:
pd1

       B     C   D
a1   1.0   2.0   1
b1   4.0   5.0   2
c1   7.0   8.0   3
d1  54.0  34.0  23

In [103]:
pd1=pd1.drop("d1")
pd1

      B    C  D
a1  1.0  2.0  1
b1  4.0  5.0  2
c1  7.0  8.0  3

In [105]:
pd1.loc["d1"]=[1,1,1]
pd1

      B    C  D
a1  1.0  2.0  1
b1  4.0  5.0  2
c1  7.0  8.0  3
d1  1.0  1.0  1

In [107]:
pd1=pd1.drop(["a1","b1"])
pd1

      B    C  D
c1  7.0  8.0  3
d1  1.0  1.0  1

In [108]:
pd1.drop("B",axis=1)

      C  D
c1  8.0  3
d1  1.0  1

In [109]:
pd1.drop("B",axis="columns")

      C  D
c1  8.0  3
d1  1.0  1

In [112]:
pd1.drop("B",axis="columns",inplace=True)
pd1

      C  D
c1  8.0  3
d1  1.0  1

In [113]:
ps1 = pd.Series(range(5),index=['a','b','c','d','e'])
print(type(ps1.index))
ps1

<class 'pandas.core.indexes.base.Index'>

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [114]:
pd1 = pd.DataFrame(np.arange(9).reshape(3,3),index = ['a','b','c'],columns = ['A','B','C'])
pd1

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

In [117]:
pd1["A"]=[1,2,3]
pd1.loc["b"]=[2,3,4]
pd1

   A  B  C
a  1  1  2
b  2  3  4
c  3  7  8

In [118]:
pd1.B=1
pd1

   A  B  C
a  1  1  2
b  2  1  4
c  3  1  8

In [122]:
pd1["D"]=1
pd1

   A  B  C  D
a  1  1  2  1
b  2  1  4  1
c  3  1  8  1

In [123]:
pd1.loc["a","A"]=1000
pd1

      A  B  C  D
a  1000  1  2  1
b     2  1  4  1
c     3  1  8  1

In [124]:
pd1["A"]

a    1000
b       2
c       3
Name: A, dtype: int64

In [126]:
pd1[["A","C"]]

      A  C
a  1000  2
b     2  4
c     3  8

In [133]:
pd1["a":"c"]

      A  B  C  D
a  1000  1  2  1
b     2  1  4  1
c     3  1  8  1

In [135]:
pd1.loc["a":"b","A":"B"]

      A  B
a  1000  1
b     2  1

In [129]:
pd1[0:2]

      A  B  C  D
a  1000  1  2  1
b     2  1  4  1

In [130]:
pd1["A"]["a"]

1000

In [137]:
ps1

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [138]:
ps1[0:2]

a    0
b    1
dtype: int64

In [140]:
ps1.iloc[0:2]

a    0
b    1
dtype: int64

In [141]:
pd1.iloc[0:2,0:2]

      A  B
a  1000  1
b     2  1

In [142]:
pd1.loc[0:2,0:2]

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

AttributeError: 'Series' object has no attribute 'ix'

AttributeError: 'Series' object has no attribute 'ix'