In [1]:
import time

In [14]:
from datetime import datetime
from  datetime import timedelta

In [3]:
datetime.now()

datetime.datetime(2021, 11, 2, 20, 47, 12, 356159)

In [6]:
datetime.now().year,datetime.now().second

(2021, 53)

In [13]:
d = datetime.now()-datetime(1998,5,31)
d,type(d)

(datetime.timedelta(days=8556, seconds=74965, microseconds=244200),
 datetime.timedelta)

In [11]:
d.days

8556

In [12]:
d.seconds

74944

In [17]:
d = datetime.now() -timedelta(2)
d

datetime.datetime(2021, 10, 31, 20, 50, 21, 371728)

In [19]:
d = datetime(2008,5,12)
d

datetime.datetime(2008, 5, 12, 0, 0)

In [20]:
str(d)

'2008-05-12 00:00:00'

In [21]:
d.strftime("%Y-%m-%d")

'2008-05-12'

In [24]:
v  = '2011-01-02'
d = datetime.strptime(v,"%Y-%m-%d")
d

datetime.datetime(2011, 1, 2, 0, 0)

In [30]:
d = ["1/1/2008","2/2/2010"]

In [32]:
for x in d:
    print(datetime.strptime(x,"%d/%m/%Y") )

2008-01-01 00:00:00
2010-02-02 00:00:00

In [33]:
[datetime.strptime(x,"%d/%m/%Y") for x in d]

[datetime.datetime(2008, 1, 1, 0, 0), datetime.datetime(2010, 2, 2, 0, 0)]

In [35]:
from dateutil.parser import parse

In [37]:
parse("2011-1-1")

datetime.datetime(2011, 1, 1, 0, 0)

In [38]:
parse("2011/1/1")

datetime.datetime(2011, 1, 1, 0, 0)

In [36]:
parse(datetime.now().strftime("%Y-%m-%d"))

datetime.datetime(2021, 11, 2, 0, 0)

In [39]:
parse("1,1,2023",dayfirst=True)

datetime.datetime(2023, 1, 1, 0, 0)

In [40]:
import pandas as pd

时间序列基础

In [41]:
import numpy as np
import pandas as pd
from datetime import datetime

In [44]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
datetime(2011, 1, 7), datetime(2011, 1, 8),
datetime(2011, 1, 10), datetime(2011, 1, 12)]
date = pd.Series(np.random.randn(6), index=dates)
date

2011-01-02    0.280592
2011-01-05    0.682102
2011-01-07   -1.041878
2011-01-08   -0.215922
2011-01-10   -0.430216
2011-01-12   -0.132754
dtype: float64

In [45]:
date[::2]

2011-01-02    0.280592
2011-01-07   -1.041878
2011-01-10   -0.430216
dtype: float64

In [46]:
date.index.dtype

dtype('<M8[ns]')

In [48]:
date.index[0]

Timestamp('2011-01-02 00:00:00')

In [49]:
date[date.index[0]]

0.2805919882734303

In [53]:
date["2011-1-2"]

0.2805919882734303

In [52]:
date["1/2/2011"]

0.2805919882734303

In [54]:
date["20110102"]

0.2805919882734303

In [61]:
date[datetime(2011,1,2)]

0.2805919882734303

In [57]:
date1 = pd.Series(np.random.randn(1000),index=pd.date_range("1/1/2000",periods=1000))
date1

2000-01-01   -0.397549
2000-01-02    0.054583
2000-01-03    0.978630
2000-01-04    1.065982
2000-01-05   -0.880825
                ...
2002-09-22    0.279029
2002-09-23   -0.534794
2002-09-24   -1.592332
2002-09-25    1.807155
2002-09-26   -0.698099
Freq: D, Length: 1000, dtype: float64

In [58]:
date1["2000"]

2000-01-01   -0.397549
2000-01-02    0.054583
2000-01-03    0.978630
2000-01-04    1.065982
2000-01-05   -0.880825
                ...
2000-12-27   -1.352551
2000-12-28   -0.288816
2000-12-29   -0.459871
2000-12-30   -0.561632
2000-12-31    0.883164
Freq: D, Length: 366, dtype: float64

In [59]:
date1["5/2000"]

2000-05-01    0.353552
2000-05-02   -1.650443
2000-05-03   -0.604498
2000-05-04    0.716130
2000-05-05    0.454772
2000-05-06   -1.191810
2000-05-07   -1.804902
2000-05-08   -1.237189
2000-05-09    1.090457
2000-05-10    0.755982
2000-05-11    0.001786
2000-05-12    0.465066
2000-05-13    0.110842
2000-05-14    1.295813
2000-05-15    0.290940
2000-05-16    1.191405
2000-05-17    0.101087
2000-05-18    0.761340
2000-05-19    2.115176
2000-05-20   -1.112252
2000-05-21   -0.005975
2000-05-22    0.166520
2000-05-23   -2.024840
2000-05-24   -1.632857
2000-05-25   -0.652159
2000-05-26    1.164689
2000-05-27    1.468266
2000-05-28   -2.007993
2000-05-29    0.489994
2000-05-30    0.293108
2000-05-31    0.724973
Freq: D, dtype: float64

In [60]:
date1["05/2000"]

2000-05-01    0.353552
2000-05-02   -1.650443
2000-05-03   -0.604498
2000-05-04    0.716130
2000-05-05    0.454772
2000-05-06   -1.191810
2000-05-07   -1.804902
2000-05-08   -1.237189
2000-05-09    1.090457
2000-05-10    0.755982
2000-05-11    0.001786
2000-05-12    0.465066
2000-05-13    0.110842
2000-05-14    1.295813
2000-05-15    0.290940
2000-05-16    1.191405
2000-05-17    0.101087
2000-05-18    0.761340
2000-05-19    2.115176
2000-05-20   -1.112252
2000-05-21   -0.005975
2000-05-22    0.166520
2000-05-23   -2.024840
2000-05-24   -1.632857
2000-05-25   -0.652159
2000-05-26    1.164689
2000-05-27    1.468266
2000-05-28   -2.007993
2000-05-29    0.489994
2000-05-30    0.293108
2000-05-31    0.724973
Freq: D, dtype: float64

In [64]:
date1[datetime(2002,9,1):]

2002-09-01    0.050876
2002-09-02   -0.850853
2002-09-03    0.296033
2002-09-04    1.681151
2002-09-05   -0.250019
2002-09-06   -0.504837
2002-09-07    0.413477
2002-09-08    1.047808
2002-09-09   -1.001804
2002-09-10   -0.006026
2002-09-11   -0.409848
2002-09-12    1.941931
2002-09-13    1.103044
2002-09-14   -1.392108
2002-09-15    0.624367
2002-09-16    2.025440
2002-09-17   -1.801366
2002-09-18   -0.770458
2002-09-19    0.551698
2002-09-20    0.906642
2002-09-21   -0.949348
2002-09-22    0.279029
2002-09-23   -0.534794
2002-09-24   -1.592332
2002-09-25    1.807155
2002-09-26   -0.698099
Freq: D, dtype: float64

In [67]:
date1[datetime(2002,9,23):datetime(2002,9,26)]=1
date1

2000-01-01   -0.397549
2000-01-02    0.054583
2000-01-03    0.978630
2000-01-04    1.065982
2000-01-05   -0.880825
                ...
2002-09-22    0.279029
2002-09-23    1.000000
2002-09-24    1.000000
2002-09-25    1.000000
2002-09-26    1.000000
Freq: D, Length: 1000, dtype: float64

In [69]:
date1["2000/1/1":"2001/1/1"]=1
date1

2000-01-01    1.000000
2000-01-02    1.000000
2000-01-03    1.000000
2000-01-04    1.000000
2000-01-05    1.000000
                ...
2002-09-22    0.279029
2002-09-23    1.000000
2002-09-24    1.000000
2002-09-25    1.000000
2002-09-26    1.000000
Freq: D, Length: 1000, dtype: float64

In [74]:
date1.truncate(before="2000-1-10",after="2000-2-1")

2000-01-10    1.0
2000-01-11    1.0
2000-01-12    1.0
2000-01-13    1.0
2000-01-14    1.0
2000-01-15    1.0
2000-01-16    1.0
2000-01-17    1.0
2000-01-18    1.0
2000-01-19    1.0
2000-01-20    1.0
2000-01-21    1.0
2000-01-22    1.0
2000-01-23    1.0
2000-01-24    1.0
2000-01-25    1.0
2000-01-26    1.0
2000-01-27    1.0
2000-01-28    1.0
2000-01-29    1.0
2000-01-30    1.0
2000-01-31    1.0
2000-02-01    1.0
Freq: D, dtype: float64

In [80]:
index_=pd.DatetimeIndex(["2000-1-1","2001-1-1","2000-1-1","2003-1-1","2004-1-1"],name="time")
date2=pd.Series(np.arange(5),index=index_)
date2

time
2000-01-01    0
2001-01-01    1
2000-01-01    2
2003-01-01    3
2004-01-01    4
dtype: int32

In [83]:
date2.index.unique()

DatetimeIndex(['2000-01-01', '2001-01-01', '2003-01-01', '2004-01-01'], dtype='datetime64[ns]', name='time', freq=None)

In [85]:
date2.index.is_unique

False

In [87]:
date2["1/1/2000"]

time
2000-01-01    0
2000-01-01    2
dtype: int32

In [91]:
date2.groupby(level=0).sum()

time
2000-01-01    2
2001-01-01    1
2003-01-01    3
2004-01-01    4
dtype: int32

In [92]:
date2.groupby("time").sum()

time
2000-01-01    2
2001-01-01    1
2003-01-01    3
2004-01-01    4
dtype: int32

In [94]:
date2.groupby(level=0).count()

time
2000-01-01    2
2001-01-01    1
2003-01-01    1
2004-01-01    1
dtype: int64

In [101]:
index = pd.date_range("2000-1-1","2000-1-10")
date3 = pd.Series(np.random.permutation(10),index=index)
date3

2000-01-01    5
2000-01-02    7
2000-01-03    4
2000-01-04    1
2000-01-05    8
2000-01-06    0
2000-01-07    2
2000-01-08    6
2000-01-09    9
2000-01-10    3
Freq: D, dtype: int32

In [103]:
index = pd.date_range("2000-1-1",freq="M",periods=10)
index

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31'],
              dtype='datetime64[ns]', freq='M')

In [112]:
from pandas.tseries.offsets import Hour, Minute

In [115]:
hour = pd.tseries.offsets.Hour()
hour
Hour(4)

In [122]:
h = Hour()
h

In [123]:
pd.date_range("2000-1-1","2000-1-2",freq="3h")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 03:00:00',
               '2000-01-01 06:00:00', '2000-01-01 09:00:00',
               '2000-01-01 12:00:00', '2000-01-01 15:00:00',
               '2000-01-01 18:00:00', '2000-01-01 21:00:00',
               '2000-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='3H')

In [130]:
pd.date_range('2000-01-01','2000-01-10',freq='1D2h20min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-02 02:20:00',
               '2000-01-03 04:40:00', '2000-01-04 07:00:00',
               '2000-01-05 09:20:00', '2000-01-06 11:40:00',
               '2000-01-07 14:00:00', '2000-01-08 16:20:00',
               '2000-01-09 18:40:00'],
              dtype='datetime64[ns]', freq='1580T')

In [132]:
date4 = pd.Series(np.random.randn(4))
date4

0   -0.206004
1    0.848432
2    1.454819
3    0.919840
dtype: float64

In [133]:
date4.shift(2)

0         NaN
1         NaN
2   -0.206004
3    0.848432
dtype: float64

In [135]:
date4.index = pd.date_range("2000-1-1",periods=4,freq="d")
date4

2000-01-01   -0.206004
2000-01-02    0.848432
2000-01-03    1.454819
2000-01-04    0.919840
Freq: D, dtype: float64

In [136]:
date4.shift(2,freq="d")

2000-01-03   -0.206004
2000-01-04    0.848432
2000-01-05    1.454819
2000-01-06    0.919840
Freq: D, dtype: float64

In [140]:
date5 = pd.DataFrame(np.random.uniform(10,50,(100,1)), index= pd.date_range("2020-1-1",periods=100))
date5

                    0
2020-01-01  33.523778
2020-01-02  17.104173
2020-01-03  31.296025
2020-01-04  28.802202
2020-01-05  28.407588
...               ...
2020-04-05  18.410638
2020-04-06  35.340013
2020-04-07  32.960501
2020-04-08  26.780976
2020-04-09  17.096358

[100 rows x 1 columns]

In [152]:
list(date5.resample("M"))

[(Timestamp('2020-01-31 00:00:00', freq='M'),
                      0
  2020-01-01  33.523778
  2020-01-02  17.104173
  2020-01-03  31.296025
  2020-01-04  28.802202
  2020-01-05  28.407588
  2020-01-06  20.880609
  2020-01-07  37.657419
  2020-01-08  46.622646
  2020-01-09  31.673602
  2020-01-10  47.272751
  2020-01-11  42.032382
  2020-01-12  37.689384
  2020-01-13  22.695839
  2020-01-14  29.840244
  2020-01-15  17.159660
  2020-01-16  13.149531
  2020-01-17  16.920188
  2020-01-18  28.056536
  2020-01-19  30.321667
  2020-01-20  46.530941
  2020-01-21  45.820882
  2020-01-22  44.078365
  2020-01-23  20.668644
  2020-01-24  30.671958
  2020-01-25  49.986134
  2020-01-26  22.011051
  2020-01-27  35.266224
  2020-01-28  29.167009
  2020-01-29  12.498748
  2020-01-30  30.045564
  2020-01-31  20.074714),
 (Timestamp('2020-02-29 00:00:00', freq='M'),
                      0
  2020-02-01  39.147211
  2020-02-02  36.018603
  2020-02-03  20.500587
  2020-02-04  19.170857
  2020-02-05  25.871165
  2020-02-06  36.334874
  2020-02-07  27.168120
  2020-02-08  18.399661
  2020-02-09  14.313089
  2020-02-10  18.131611
  2020-02-11  30.348403
  2020-02-12  31.169600
  2020-02-13  35.105489
  2020-02-14  37.191048
  2020-02-15  49.307254
  2020-02-16  27.510153
  2020-02-17  41.133194
  2020-02-18  10.638475
  2020-02-19  32.819663
  2020-02-20  10.516696
  2020-02-21  39.909197
  2020-02-22  28.457651
  2020-02-23  48.808507
  2020-02-24  15.460178
  2020-02-25  34.909660
  2020-02-26  46.863342
  2020-02-27  16.807123
  2020-02-28  32.035145
  2020-02-29  46.794327),
 (Timestamp('2020-03-31 00:00:00', freq='M'),
                      0
  2020-03-01  40.827966
  2020-03-02  33.977083
  2020-03-03  26.890357
  2020-03-04  28.215211
  2020-03-05  41.548721
  2020-03-06  43.805120
  2020-03-07  37.323787
  2020-03-08  26.816988
  2020-03-09  38.960337
  2020-03-10  27.202122
  2020-03-11  18.667427
  2020-03-12  40.638158
  2020-03-13  36.124425
  2020-03-14  11.314917
  2020-03-15  30.719944
  2020-03-16  22.014589
  2020-03-17  23.443943
  2020-03-18  19.933718
  2020-03-19  13.110238
  2020-03-20  14.282098
  2020-03-21  31.202717
  2020-03-22  36.634832
  2020-03-23  41.993586
  2020-03-24  24.676464
  2020-03-25  36.998284
  2020-03-26  33.163401
  2020-03-27  35.725889
  2020-03-28  13.285802
  2020-03-29  38.691659
  2020-03-30  21.020601
  2020-03-31  13.804378),
 (Timestamp('2020-04-30 00:00:00', freq='M'),
                      0
  2020-04-01  30.850798
  2020-04-02  29.971222
  2020-04-03  27.203725
  2020-04-04  16.889286
  2020-04-05  18.410638
  2020-04-06  35.340013
  2020-04-07  32.960501
  2020-04-08  26.780976
  2020-04-09  17.096358)]

In [153]:
date5.resample("10D").count()

             0
2020-01-01  10
2020-01-11  10
2020-01-21  10
2020-01-31  10
2020-02-10  10
2020-02-20  10
2020-03-01  10
2020-03-11  10
2020-03-21  10
2020-03-31  10

In [154]:
#升采样
frame = pd.DataFrame(np.random.randn(2, 4),
                    index=pd.date_range('1/1/2000', periods=2,freq='W-WED'),
                    columns=['上海', '北京', '深圳', '广州'])
frame

                  上海        北京        深圳        广州
2000-01-05  0.908272 -1.394051 -1.130515  0.973284
2000-01-12  1.458406 -0.434214 -1.017335 -0.190096

In [157]:
frame.resample('D').asfreq()

                  上海        北京        深圳        广州
2000-01-05  0.908272 -1.394051 -1.130515  0.973284
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  1.458406 -0.434214 -1.017335 -0.190096

In [158]:
frame.resample('D').asfreq().ffill()

                  上海        北京        深圳        广州
2000-01-05  0.908272 -1.394051 -1.130515  0.973284
2000-01-06  0.908272 -1.394051 -1.130515  0.973284
2000-01-07  0.908272 -1.394051 -1.130515  0.973284
2000-01-08  0.908272 -1.394051 -1.130515  0.973284
2000-01-09  0.908272 -1.394051 -1.130515  0.973284
2000-01-10  0.908272 -1.394051 -1.130515  0.973284
2000-01-11  0.908272 -1.394051 -1.130515  0.973284
2000-01-12  1.458406 -0.434214 -1.017335 -0.190096

In [159]:
frame.resample('D').asfreq().ffill(limit=2)

                  上海        北京        深圳        广州
2000-01-05  0.908272 -1.394051 -1.130515  0.973284
2000-01-06  0.908272 -1.394051 -1.130515  0.973284
2000-01-07  0.908272 -1.394051 -1.130515  0.973284
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  1.458406 -0.434214 -1.017335 -0.190096

In [165]:
df = pd.read_csv('911.csv')
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [166]:
df["timeStamp"] = pd.to_datetime(df["timeStamp"])
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [167]:
df.set_index("timeStamp",inplace=True)

In [168]:
df

,lat,lng,desc,zip,title,twp,addr,e
timeStamp,,,,,,,,
2015-12-10 17:10:52,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,NEW HANOVER,REINDEER CT & DEAD END,1
2015-12-10 17:29:21,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2015-12-10 14:39:21,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,NORRISTOWN,HAWS AVE,1
2015-12-10 16:47:36,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,NORRISTOWN,AIRY ST & SWEDE ST,1
2015-12-10 16:56:52,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1
...,...,...,...,...,...,...,...,...
2017-09-20 19:38:35,40.187874,-75.473836,CLAHOR AVE & W 1ST AVE; TRAPPE; Station 324; ...,19426.0,EMS: OVERDOSE,TRAPPE,CLAHOR AVE & W 1ST AVE,1
2017-09-20 19:37:39,40.199006,-75.300058,LILAC CT & PRIMROSE DR; UPPER GWYNEDD; Statio...,19446.0,EMS: FALL VICTIM,UPPER GWYNEDD,LILAC CT & PRIMROSE DR,1
2017-09-20 19:42:36,40.095109,-75.405805,1ST AVE; UPPER MERION; Station 317; 2017-09-2...,NaN,EMS: VEHICLE ACCIDENT,UPPER MERION,1ST AVE,1
2017-09-20 19:42:05,40.196606,-75.423406,MILL RD & CASSEL RD; SKIPPACK; 2017-09-20 @ 19...,19426.0,Fire: FIRE ALARM,SKIPPACK,MILL RD & CASSEL RD,1
2017-09-20 19:42:29,40.095206,-75.410735,1ST AVE & MOORE RD; UPPER MERION; 2017-09-20 @...,19406.0,Traffic: VEHICLE ACCIDENT -,UPPER MERION,1ST AVE & MOORE RD,1

In [169]:
df.resample("M").count()

              lat    lng   desc    zip  title    twp   addr      e
timeStamp
2015-12-31   7916   7916   7916   6902   7916   7911   7916   7916
2016-01-31  13096  13096  13096  11512  13096  13094  13096  13096
2016-02-29  11396  11396  11396   9926  11396  11395  11396  11396
2016-03-31  11059  11059  11059   9754  11059  11052  11059  11059
2016-04-30  11287  11287  11287   9897  11287  11284  11287  11287
2016-05-31  11374  11374  11374   9938  11374  11371  11374  11374
2016-06-30  11732  11732  11732  10205  11732  11726  11732  11732
2016-07-31  12088  12088  12088  10626  12088  12086  12088  12088
2016-08-31  11904  11904  11904  10381  11904  11902  11904  11904
2016-09-30  11669  11669  11669  10174  11669  11666  11669  11669
2016-10-31  12502  12502  12502  10760  12502  12499  12502  12502
2016-11-30  12091  12091  12091  10559  12091  12086  12091  12091
2016-12-31  12162  12162  12162  10763  12162  12156  12162  12162
2017-01-31  11605  11605  11605  10365  11605  11598  11605  11605
2017-02-28  10267  10267  10267   9235  10267  10263  10267  10267
2017-03-31  11684  11684  11684  10406  11684  11680  11684  11684
2017-04-30  11056  11056  11056   9774  11056  11052  11056  11056
2017-05-31  11719  11719  11719  10316  11719  11711  11719  11719
2017-06-30  12333  12333  12333  10865  12333  12332  12333  12333
2017-07-31  11768  11768  11768  10314  11768  11764  11768  11768
2017-08-31  11753  11753  11753  10358  11753  11744  11753  11753
2017-09-30   7276   7276   7276   6361   7276   7272   7276   7276