In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import load_wine
import sklearn

In [2]:
# 数据集
data = load_wine()
# 数据集的描述
#print(data.DESCR)
# 数据集的属性
dir(data)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [3]:
# feature_names
data.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [4]:
# target_names
data.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [5]:
# data
data_frame = pd.DataFrame(data.data)
data_frame.sample(4)

,0,1,2,3,4,5,6,7,8,9,10,11,12
129,12.04,4.30,2.38,22.0,80.0,2.10,1.75,0.42,1.35,2.6,0.79,2.57,580.0
33,13.76,1.53,2.70,19.5,132.0,2.95,2.74,0.50,1.35,5.4,1.25,3.00,1235.0
12,13.75,1.73,2.41,16.0,89.0,2.60,2.76,0.29,1.81,5.6,1.15,2.90,1320.0
80,12.00,0.92,2.00,19.0,86.0,2.42,2.26,0.30,1.43,2.5,1.38,3.12,278.0

In [6]:
# target
target_frame = pd.DataFrame(data.target)
target_frame.sample(4)

     0
138  2
151  2
20   0
24   0

In [7]:
# 标准化
scaler = sklearn.preprocessing.StandardScaler()
features = scaler.fit_transform(data.data)
target = data.target

In [8]:
# 数据分割
x_train,x_test,y_train,y_test = sklearn.model_selection.train_test_split(features,target,train_size=0.75)

In [9]:
# 训练
knn = sklearn.neighbors.KNeighborsClassifier(n_neighbors=6)
knn.fit(x_train,y_train)
knn.score(x_test,y_test)

0.9777777777777777

In [10]:
x_train

array([[-0.01311602, -0.59815632,  0.8534605 , ...,  1.54675873,
         1.25469358,  0.75824943],
       [ 0.06099988, -0.54429654, -1.19353041, ...,  0.71316437,
         0.42135232,  1.28369089],
       [-0.77898029, -1.0469879 , -1.63217132, ...,  0.71316437,
         1.22644473, -0.7543851 ],
       ...,
       [ 0.96274331,  0.3802965 , -0.24314178, ..., -1.12951789,
        -1.31595234, -0.42001326],
       [-2.43423535, -0.74178243, -0.60867587, ...,  3.30169422,
         0.36485461, -1.08238795],
       [-1.14955978, -0.15830138, -0.7183361 , ..., -0.42754369,
         0.94395616, -1.17473827]])

In [13]:
y_train

array([1, 0, 1, 0, 2, 1, 0, 0, 2, 2, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0, 1, 0,
       2, 1, 2, 0, 2, 1, 2, 1, 2, 1, 1, 0, 2, 1, 1, 2, 0, 1, 1, 2, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 2, 2, 2, 1, 0, 1, 0, 1, 0, 2, 0, 2, 1,
       2, 1, 0, 2, 1, 2, 1, 1, 2, 2, 0, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1,
       2, 2, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 2, 2, 1, 1, 0, 1, 2,
       0, 0, 2, 0, 1, 1, 1, 2, 0, 0, 1, 2, 1, 2, 0, 0, 0, 1, 2, 2, 2, 1,
       1])