In [20]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.datasets import fetch_20newsgroups
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB,GaussianNB

# 多项式算法处理离散的数据，而高斯算法处理连续的数据¶

In [8]:
heart = pd.read_csv("data/hearts.csv")
heart.sample(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
37,54,1,2,150,232,0,0,165,0,1.6,2,0,3,1
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0
155,58,0,0,130,197,0,1,131,0,0.6,1,0,2,1

In [26]:
# feature 和 target 的分割
features = heart.drop("target",axis="columns")
targets = heart["target"]

In [46]:
# train 和 test 的分割
x_train,x_test,y_train,y_test = train_test_split(features,targets,test_size=0.40)
# 高斯算法训练
gaussian = GaussianNB()
gaussian.fit(x_train,y_train)
gaussian.score(x_test,y_test)

0.8442622950819673

In [47]:
# 多项式算法训练
nb = MultinomialNB()
nb.fit(x_train,y_train)
nb.score(x_test,y_test)

0.7622950819672131