In [144]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

## 实例1

In [146]:
titanic = pd.read_csv("data/titanic.csv")
titanic.head()
titanic.dropna(inplace=True)

In [147]:
features_pre = titanic[["age","fare","sex"]]
target_pre = titanic["survived"]
# 将features中的字符串用数字代替
features = features_pre.replace(["male","female"],[1,2])
# 将target转为一维数组
target = np.array(target_pre)
print(target)
features

[1 1 0 1 1 1 1 0 1 0 0 1 0 1 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 1 1 1 1 0 1 1
 1 1 1 0 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 1
 1 1 0 1 1 1 1 1 1 0 1 0 1 1 0 1 0 1 0 1 1 1 0 0 1 0 1 0 1 0 1 1 1 0 1 1 0
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 0 0 1 1 1 1 0 0 1 1 1 1 1 0
 1 1 1 1 1 0 1 0 0 1 1 1 1 0 1 1 0 0 1 1 0 1 1 1 1 1 1 1 0 1 0 1 1 1]

      age     fare  sex
1    38.0  71.2833    2
3    35.0  53.1000    2
6    54.0  51.8625    1
10    4.0  16.7000    2
11   58.0  26.5500    2
..    ...      ...  ...
871  47.0  52.5542    2
872  33.0   5.0000    1
879  56.0  83.1583    2
887  19.0  30.0000    2
889  26.0  30.0000    1

[182 rows x 3 columns]

In [148]:
x_train,x_test,y_train,y_test = train_test_split(features, target, train_size=0.75)
logistic = LogisticRegression()
logistic.fit(x_train, y_train)
y_predict = logistic.predict(x_test)
logistic.score(x_test,y_test)

0.8478260869565217

In [149]:
# 精确度与召回度统计
report = classification_report(y_test,y_predict,labels=[0,1],target_names=["未获救","获救"])
print(report)

              precision    recall  f1-score   support

         未获救       0.93      0.68      0.79        19
          获救       0.81      0.96      0.88        27

    accuracy                           0.85        46
   macro avg       0.87      0.82      0.83        46
weighted avg       0.86      0.85      0.84        46

## 实例2

In [150]:
heart = pd.read_csv("data/hearts.csv")
heart.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1

In [152]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
features_pre = heart.drop("target",axis=1)
features = std.fit_transform(features_pre)
target = np.array(heart["target"])
x_train,x_test,y_train,y_test = train_test_split(features, target, train_size=0.70)
logistic = LogisticRegression()
logistic.fit(x_train, y_train)
y_predict = logistic.predict(x_test)
logistic.score(x_test,y_test)

0.8131868131868132

In [155]:
# 精确度与召回度统计
report = classification_report(y_test, y_predict, labels=[0,1], target_names=["得心脏病","不得心脏病"])
print(report)

              precision    recall  f1-score   support

        得心脏病       0.75      0.81      0.78        37
       不得心脏病       0.86      0.81      0.84        54

    accuracy                           0.81        91
   macro avg       0.81      0.81      0.81        91
weighted avg       0.82      0.81      0.81        91